
.idea/shelf/Uncommitted_changes_before_Update_at_2023-04-10__10_27_p_m___Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2023-04-10,_10_27_p_m__\[Changes\]/shelved.patch
.idea/misc.xml
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/dbnavigator.xml
.idea/dataSources/8e991f09-29cc-4251-990a-f6d715f3f53c/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/dataSources/8e991f09-29cc-4251-990a-f6d715f3f53c/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/8e991f09-29cc-4251-990a-f6d715f3f53c/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/8e991f09-29cc-4251-990a-f6d715f3f53c/storage_v2/_src_/schema/inventory.XBmQhw.meta
.idea/dataSources/8e991f09-29cc-4251-990a-f6d715f3f53c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/8e991f09-29cc-4251-990a-f6d715f3f53c.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/compiler.xml
out/production/SOEN487-Project3/main/proto/inventory.proto
.idea/workspace.xml
.idea/SOEN487-Project3.iml
.idea/SOEN487-Project3.iml
.idea/workspace.xml
.idea/SOEN487-Project3.iml
.idea/workspace.xml
